<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="resolverConfiguration" type="System.Configuration.ProtectedConfigurationSection, System.Configuration"/>
    <section name="providerConfiguration" type="System.Configuration.ProtectedConfigurationSection, System.Configuration"/>
  </configSections>

  <resolverConfiguration>
    <providers>
      <add name="basic1" type="CodePraxis.Tinsl.BasicResolver`1[System.Object], CodePraxis.Tinsl" />
      
      <add name="provider1"
           type="CodePraxis.Tinsl.Specialized.ProviderResolver`1[System.Object], CodePraxis.Tinsl"
           sectionName="providerConfiguration"
           />
      <add name="chainedprovider1"
           type="CodePraxis.Tinsl.Specialized.ChainedProviderResolver`1[System.Object], CodePraxis.Tinsl"
           sectionName="resolverConfiguration"
           front="basic1"
           back="provider1"
           />


    </providers>
  </resolverConfiguration>

  <providerConfiguration>
    <providers>
      <add name="test1" type="CodePraxis.Tinsl.UnitTest.TestProvider, CodePraxis.Tinsl.UnitTest"
           setting1="setting1value"
           />
      <add name="named1" type="CodePraxis.Tinsl.UnitTest.NamedTestProvider, CodePraxis.Tinsl.UnitTest"
           setting1="setting1value2"
           />
      <add name="named2" type="CodePraxis.Tinsl.UnitTest.NamedTestProvider, CodePraxis.Tinsl.UnitTest"
           setting1="setting1value3"
           />
    </providers>
  </providerConfiguration>
</configuration>